
.grocery-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  margin: 0 auto;
}

.grocery-gallery .grocery-card {
  max-width: 300px;
  max-height: 500px;
  align-items: center;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  max-width: 1800px;
  margin: 0 auto;
}

.gallery .gallery-card {
  max-width: 300px;
  max-height: 500px;
  align-items: center;
}

/* .blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
} */