body {
  padding-top: 70px;
  height: 100%;
  margin: 0;
}
#body {
  min-height: calc(100vh - 140px);
}

.container .text-muted {
  margin: 20px 0;
}

.blog-footer {
  height: 70px;
  padding: 1.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  width: 100%;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.blog-footer #scrollup {
  position: fixed;
  display: none;
  bottom: 80px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.blog-footer #scrollup:hover {
  color: #343a40;
  background-color: #fff;
  border-color: #fff;}

.banner {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
  width: 100%;
  height: 300px;
  background-image: url("../Images/indeximage/storebanner-xs.jpg");
}

.top-center-container {
  top: 20%;
  left: 5%;
  width: 90%;
  position: absolute;
  text-align: center;
}

.lightText {
  color: white;
  margin: 0;
  text-shadow: 2px 2px 16px #666;
  font-family: robotobold, verdana, arial, helvetica, sans-serif;
}
.darkText {
  color: black;
  margin: 0;
  text-shadow: 2px 2px 16px #666;
  font-family: robotobold, verdana, arial, helvetica, sans-serif;
}
.banner h1 {
  font-size: 4.5rem;
}

.card {
  position: relative;
}
.card-img-top {
  display: block;
  width: 100%;
  height: 250px;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.image-overlay:hover {
  opacity: 1;
}
.card-text {
  font-size: 3rem;
  font-weight: bold;
  color: #dcdcdc;
}

.priceText {
  font-size: 20px;
}

/* no bigger than 400px  */
@media screen and (max-width: 400px) {
  .banner {
    background-image: url(" ../Images/indeximage/storebanner-sm.jpg");
    height: 320px;
  }
  .banner h1 {
    font-size: 3rem;
  }
}

/* between 401 and 900 px */
@media screen and (min-width: 401px) and (max-width: 1024px) {
  .banner {
    background-image: url(" ../Images/indeximage/storebanner-md.jpg");
    height: 320px;
  }
  .banner h1 {
    font-size: 3.5rem;
  }
  .top-center-container {
    top: 6%;
  }
  .card-text {
    font-size: 2rem;
  }
}

/* no bigger than 1024 px */
@media screen and (max-width: 1024px) {
  .image-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }
}

/* between 901 and 1200 px */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .banner {
    background-image: url("../Images/indeximage/storebanner-lg.jpg");
  }
}

/* bigger than 1201 px */
@media screen and (min-width: 1201px) {
  .banner {
    background-image: url("../Images/indeximage/storebanner-xl.jpg");
  }
}
