body{
  background-color: #f16059;

}
#page{
  text-transform: uppercase;
  text-align: center;
}

h1{
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
}

h4{
  font-size: 30px;
  font-family: 'Bungee', cursive;
  line-height: 40px;
  margin-top: -20px;

}

h4 #clock{
  font-size: 40px;
}
#Greeting{
  margin-top: -40px;
  color: aliceblue;
}